svg#freepik_stories-accept-terms:not(.animated) .animable {
    opacity: 0;
}
svg#freepik_stories-accept-terms.animated #freepik--Character--inject-84 {
    animation: 3s Infinite linear floating;
    animation-delay: 0s;
}
@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
